<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="@string/app_pet_lover_name"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.papps.freddy_lazo.redvet.view.activity.SplashActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.papps.freddy_lazo.redvet.view.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.papps.freddy_lazo.redvet.view.activity.PhotoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.papps.freddy_lazo.redvet.view.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.papps.freddy_lazo.redvet.view.activity.AppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.papps.freddy_lazo.redvet.view.activity.CancelAppointmentActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>