<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="GoogleAppIndexingWarning"
        android:label="@string/app_pet_lover_name">

        <activity android:name="com.papps.freddy_lazo.redvet.view.activity.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.papps.freddy_lazo.redvet.view.activity.RegisterActivity"/>
        <activity android:name="com.papps.freddy_lazo.redvet.view.activity.HomeActivity"/>


    </application>
</manifest>